:root {
  color-scheme: light;
  --creme: #FBF0DF;
  --marrom: #4A2E22;
  --rosa: #E8998F;
  --bege: #EAD9C7;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--creme);
  font-family: 'Quicksand', sans-serif;
  color: var(--marrom);
}

h1 {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 700;
  color: var(--marrom);
}